.table {
  margin-bottom: 15px;
}

.table__header {
  position: sticky;
  top: 0;
  background: #fff;
  white-space: pre;
}

.table__cell_type_id {
  display: flex;
}

.table__cell_type_phone {
  white-space: pre;
}
